<h4 class="mb-3">Add Tech</h4>
<form [formGroup]="addForm" (ngSubmit)="submitForm()" autocomplete="off">
  <div class="row mb-3">
    <label for="inputUsername" class="col-sm-3 col-form-label col-form-label-sm text-end">Username</label>
    <div class="col-sm-9">
      <input 
        type="text" 
        class="form-control" 
        [class.is-invalid]="addForm.get('username')?.errors && addForm.get('username')?.touched"
        id="inputUsername"
        formControlName="username"
        >
        <div class="invalid-feedback">Please enter a username.</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail" class="col-sm-3 col-form-label col-form-label-sm text-end">Email</label>
    <div class="col-sm-9">
      <input 
        type="email" 
        [class.is-invalid]="addForm.get('email')?.errors && addForm.get('email')?.touched"
        class="form-control" 
        id="inputEmail"  
        formControlName="email"
      >
      <div class="invalid-feedback">Please enter a valid email.</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPhone" class="col-sm-3 col-form-label col-form-label-sm text-end">Phone No.</label>
    <div class="col-sm-9">
      <input 
        type="text" 
        class="form-control" 
        id="inputPhone"
        [class.is-invalid]="addForm.get('phoneNumber')?.errors && addForm.get('phoneNumber')?.touched" 
        formControlName="phoneNumber">
        <div class="invalid-feedback">Please enter a phone number.</div>

    </div>
  </div>
  <div class="row mb-3">
    <label for="inpputHobby" class="col-sm-3 col-form-label col-form-label-sm text-end">Hobby</label>
    <div class="col-sm-9">
      <input 
      type="text" 
      class="form-control" 
      id="inpputHobby" 
      formControlName="userHobbies" 
      [class.is-invalid]="addForm.get('userHobbies')?.errors && addForm.get('userHobbies')?.touched" 
      aria-describedby="hobbyHelp">
      <small id="hobbyHelp" class="form-text text-muted">Please use (",") if got more hobby.</small>
      <div class="invalid-feedback">Please enter you hobbies.</div>

    </div>
  </div>
  <div class="row mb-3">
    <label for="inputSkills" class="col-sm-3 col-form-label col-form-label-sm text-end">Skills</label>
    <div class="col-sm-9">
      <input 
      type="text" 
      class="form-control"
       id="inputSkills" 
       formControlName="userSkillsets" 
       [class.is-invalid]="addForm.get('userSkillsets')?.errors && addForm.get('userSkillsets')?.touched" 
       aria-describedby="skillHelp">
      <small id="skillHelp" class="form-text text-muted">Please use (",") if got more skills.</small>
      <div class="invalid-feedback">Please enter you skill sets.</div>

    </div>
  </div>
  <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary">Save</button>
</form>